zoom_links.md
IS Project Proposal Vega Sobral Víctor.pdf
# Excluir datos y caché
data/
models/
outputs/
f1_cache/
f1-dataset/
f1-strategy/weights
yolo-files
# Excluir archivos de entorno virtual y IDE
venv/
.env
.idea/
__pycache__/
*.pyc
environment.yml